@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --background: #f8f8f8;
    --background-login: #fff;
    --text-color: #333;
    --label-color: #777;
    --buton-color: #1807b0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color:var(--background) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: var(--background-login);
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-group label {
    width: 100px;
    color: #777;
    font-size: 14px;
}

.input-container {
    position: relative;
    flex: 1;
}

.form-group input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 15px;
    color: var(--text-color);
    border-bottom: 2px solid #ccc;
     transition: border-color 0.5s ease;
}

.form-group input:focus {
    border-bottom: 2px solid var(--buton-color);
 }

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--buton-color);
    transition: width 0.3s ease;
   }

input:focus+.underline {
    width: 100%;
}

button {
    width: 100%;
    background-color: var(--buton-color);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: var(--buton-color);
}