<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link rel="stylesheet" href="../css/home.css">
  <script src="https://kit.fontawesome.com/1bbb78b76e.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="menu-container">
      <a href="#"><i class="fa fa-home"></i></a>
      <a href="#"><i class="fa fa-tv"></i></a>
      <a href="#"><i class="fa fa-user"></i></a>
      <a href="#" id="cadastroMenuLink"><i class="fa-solid fa-plus"></i></a>
      <a href="#"><i class="fa fa-cog"></i></a>
    </div>

    <div class="logout">
      <button id="logoutBtn" title="Sair">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </nav>

 <div class="content">
    
    
    <div id="welcome-message-area">
      <h1 id="msg">Olá</h1> 
        <p>Seja bem-vindo ao Sistema!😎</p>
        <p>Use o menu lateral para navegar.</p>
    </div>
        <div id="content-container">
      </div>
</div>
  <script src="../js/home.js"></script>
</body>

</html>